<template>
<div class="vue-cls-btn" :style="`background-color:${background}`" @click="clickMe"></div>
</template>
<style>
.vue-cls-btn{
  width:100px;
  height:60px;
  border-radius:50%;
}
</style>
<script>
  export default{
    name:'vueRdBtn',
    data(){
      return{
        background:'red',
      }
    },
    methods:{
      clickMe(){
        this.background=this.background=='blue'?"red":"blue";
        this.$emit('click');
      },
    }
  }
</script>
